.room {
	&__info {
		display: flex;
		justify-content: space-between;
		width: 90%;
		padding-top: 10px;

		&>span {
			font-size: 1.5em;
			color: goldenrod;
		}
	}

	&__container {
		display: flex;
		width: 90%;
		flex-direction: column;
		flex: 1;
	}

	&__username {
		font-size: 3em;
		color: goldenrod;
	}

	&__back-button {
		color: goldenrod;
		width: 66%;
		align-self: center;
		margin-top: 25px;
	}
}