.lobby-header {
	color: goldenrod;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 25px 0 15px;
	border-bottom: 2px solid goldenrod;
	width: 95%;
	text-align: center;

	&--80 {
		width: 80%;
	}
}