.room-info {
	display: flex;
	justify-content: space-between;
	background-color: rgba(32, 24, 19, 0.3);
	margin: 10px;

	&__public {
		display: flex;
		flex-direction: column;
	}
}

.room-name {
	font-size: 40px;
	color: goldenrod;
	text-decoration: none;
}

.room-users {
	font-size: 32px;
	color: goldenrod;
	text-decoration: none;
}

.room-password {
	display: flex;
	justify-content: center;
	align-items: center;
}

.host-name {
	font-size: 40px;
	color: goldenrod;
}