.room-info {
	display: flex;
	justify-content: space-between;
	padding: .5rem; // should be a variable, since it will be used many places probably..
	background-color: rgba(32, 24, 19, 0.4);
	margin: 10px;
	transition: background-color .2s;

	& * {
		pointer-events: none;
	}

	&:hover {
		background-color: rgba(32, 24, 19, 0.6);
	}
}

.room-name {
	font-size: 40px;
	color: goldenrod;
	text-decoration: none;
}

.room-users {
	font-size: 32px;
	color: goldenrod;
	text-decoration: none;
}

.room-password {
	margin-left: 0.5rem;
}

.host-name {
	font-size: 40px;
	color: goldenrod;
}