.playing-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    position: relative;
    z-index: 1;

    &__mat {
        height: auto;
        width: 100%;
        aspect-ratio: calc(4947 / 4265);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bg {
        width: 100%;
        aspect-ratio: calc(3786 / 3223);
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 75%;
    }
}